.heading{
    font-size: 27px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}
.title{
    font-size: 20px;
    color:rgb(98, 160, 70);
}
.copyright-footer{
    position: fixed;
    color: white;
    background-color: rgba(0, 191, 255, 0.514);
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align: center;
}
canvas{
    border:6px solid plum;
    border-radius: 25px;
    box-shadow: 3px 3px 3px grey;
}